Flask==1.1.2
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
altgraph==0.17
click==7.1.2
future==0.18.2
importlib-metadata==3.8.0
itsdangerous==1.1.0
mysql-connector-python==8.0.20
pefile==2019.4.18
pip==21.0.1
pywin32-ctypes==0.2.0
selenium==3.141.0
setuptools==39.0.1
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1